# Environment
.env
*.env

# Data files
airflow/data/
*.parquet
*.delta
*.csv
*.zip
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
# Airflow
airflow/logs/
# OS
.DS_Store
*.swp
# Great Expectations
great_expectations/uncommitted/
dbt/profiles.yml
dbt/.user.yml
logs/
great_expectations/reports/*.html

# Delta Lake bronze data
airflow/data/
*.parquet
*.crc
*.snappy.parquet

# Airflow logs
airflow/logs/

# Python cache
**/__pycache__/
**/*.pyc
uv.lock.readme
